.container-fluid{
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}
body{
    overflow-x: hidden;
}

.header-top{
    background: #ececec;
    color: #666;
    font-size: 12px;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 4px;
    height: 32px;
}
.welcome-message{
    text-align: left;
    display: inline-block;
    margin: 0px;
    float: left;
}
.language{
    float: left;
    margin: 0;
    position: relative;
    border-bottom: none;
    padding: 0px;
}
.bar::after {
    content: "|";
    float: right;
    padding-left: 5px;
    padding-right: 5px;
    color: #ccc;
}
.flag{
    vertical-align: top;
    height: 14px;
}
.lang{
    display: inline-block;
}
.link{
    display: inline-block;
    color: inherit;
}
.link:hover{
    color: #ff0000;
    text-decoration: none;
}
.fa{
    font-size: 14px;
    padding: 2px;
}
.logo{
    max-width:66%;
}
.searchdiv{
    padding-top: 5px;
}
.search{
    margin: auto;
}
.searchinput{
    height: 38px;
    display: inline-block;
    width: 66%;
    border: none;
    background: #fff;
    box-shadow: none;
    font-size: 12px;
    padding-left: 12px;
}
.input-group{
    border: 5px solid #e4e4e4;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    background: #fff;
}
.searchbtn{
    background: #2F3B59;
}
.actions{
    margin: auto;
    text-align: center;
}
.text-black{
    color: #333333;
    margin-right: 10px;
    font-size: 16px;

}
.big-fa{
    font-size: 32px;
    margin-right: 6px;
    vertical-align: -6px;
}
.text{
    display: inline-block;
}
.wishlist{
    position: relative;
    margin-left: 15px;
    display: inline-block;
}
a:hover{
    text-decoration: none;
}
.addlist{
    font-size: 12px;
    box-shadow: 0px 0px 0px 5px #2F3B5947;
    background: #2F3B59;
    padding: 12px;
    border-radius: 21px;
    color: white;
    float: right;

}
.heading{
    float: left;
    width: 100%;
    text-align: center;
    color: #566985;
    font-size: 34px;
    font-weight: 700;
}
.navbar{
    background: #2F3B59;
    margin-top: 16px;
}
a{
    color: #333;
    font-size: 14px;
}
.background-div{
    height: 340px;
    background-color: #20171794;
}
.background-img{
    height: 340px;
    background: url("../image/back.jpg");
}
.intro{
    color: #fff;
    line-height: 340px;
    text-align: center;
}
.nav-link{
    color: #fff;
}
.title{
    text-align: center;
    color: #000;
    padding-top: 16px;
}
.hrbar{
    width: 75px;
    border-radius: 10px;
    margin-top: 0px;
    margin-bottom: 35px;
    border: 1px solid #CF0000;
}
.card-img-div{
    height:200px;
    width: 100%;
}
.card-img{
    height:200px;
    object-fit: cover;
}
.card{
    padding:0px;
    margin: 10px;
    cursor: pointer;
    border: 3px solid #e4e4e4;
    flex: 0 0 22.667% !important;
    max-width: 22.667% !important;
    padding-bottom: 10px;
    box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
    transition: all .5s ease; /* back to normal */
}
.ribbon {
    width: 110px;
    height: 111px;
    overflow: hidden;
    position: absolute;
}
.ribbon::before,
.ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #cf0000;
}
.ribbon span {
    position: absolute;
    display: block;
    width: 198px;
    padding: 6px 0;
    background-color: #cf0000;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
}
/* top right*/
.ribbon-top-right {
    top: -13px;
    right: -13px;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
    border-top-color: transparent;
    border-right-color: transparent;
}
.ribbon-top-right::before {
    top: 0;
    left: 0;
}
.ribbon-top-right::after {
    bottom: 0;
    right: 0;
}
.ribbon-top-right span {
    left: -30px;
    top: 30px;
    transform: rotate(45deg);
}
.cardtitle{
    padding: 16px;
    color: #2F3B59 !important;
    margin-bottom: 0px;
    padding-bottom: 10px;
    font-size: 1rem;
}
.price-div{
    background: #f2f2f2;
    display: inline;
    padding: 11px;
    width: -moz-fit-content;
    margin-left: 20px;
    border-radius: 7px;
    font-weight: 600;
    font-size: 13px;

}

.category-div{
    display: inline;
    margin-top: -68px;
    padding: 6px;
    width: -moz-fit-content;
    margin-left: 20px;
    font-weight: 500;
    font-size: 11px;
    background: #000000b3;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.info{
    background-color: #f8f8f8;
    padding: 10px;
    margin-top: -12px;
    font-size: 12px;
    color: #686868;
    display: inline-block;
}
.person{
    display: inline-block;
    float: right;
}
.cardhr{
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 10px !important;
    margin-right: 10px !important;
}
.location{
    color: #686868;
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
}
.overlay {
    background: url("..//image/overlay.png");
    height: 50px;
}
.overlay1 {
    background: url("..//image/overlay1.png");
    height: 50px;
}
.recentrow {
    background-color: #f2f2f2;
    margin-top: -2px;
}
.card:hover {
    transform: translate3D(0,-1px,0) scale(1.03);
    box-shadow: 8px 28px 50px rgba(39,44,49,.07), 1px 6px 12px rgba(39,44,49,.04);
    transition: all .4s ease; /* zoom in */
}
.hover-effect{
    position: absolute;
    opacity: 0;
    margin-left: 20px;
    margin-top: 30px;
    left: -8px
}
.hover-effect-brand{
    position: absolute;
    opacity: 0;
    height:160px;
    width:160px;
    background: #000000b3;
}
.card:hover .hover-effect{
    opacity: 1;
    transition:1s;
    left:0px;

}
.card-brand{
    cursor: pointer;
}
.card-brand:hover .hover-effect-brand{
    opacity: 1;
    transition:1s;

}
.footer{
    background: #2f3b59;
    padding-top: 30px;
    padding-bottom: 18px;
}

.footer-hr{
    border-top: 1px solid #f2f2f25e;
    margin-top: 0px;
}
.fa-heart{
    color: red;
}
.footer-container{
    padding: 0px;
}
.footer-head {
    color: #b7b7b7;
    font-size: 14px;
    text-align: justify;
    width: -moz-fit-content;
}
.footer-link{
    color: white;
    font-size: 14px;
    display: inherit;
    padding-bottom: 12px;
    width: -moz-fit-content;
}
a.footer-link:hover, .mid-fa:hover{
    color: #c2c1c0;
}
.mid-fa{
    font-size: 20px;
    color: #fff;
    margin-left: 5px;
    margin-right:3px;
}

.hover-link {
    background: #000000b3;
    color: white;
    padding: 7px;
    transition: 1s;
}

.hover-link-brand {
    color: white;
    padding: 7px;
    transition: 1s;
}
.hover-icon{
    font-size: 18px;
    margin-top: 12px;
}
.hover-link:hover{
    background: #cf0000;
    color: #fff;
    transition: 1s;
}
.category-div:hover{
    background: #cf0000;
    transition: 1s;
}
.cardtitle:hover{
    color: #cf0000 !important;
}
.loadbtn{
    box-shadow: 0px 0px 0px 5px #2F3B5947;
    padding: 12px;
    border-radius: 21px;
    color: white;
    background: #2f3b59;
    font-size: 14px;
    margin-right: 21px;
    text-align: center;
    float: right;
    margin-top: 10px;
}
.loadbtn:hover{
    color: #2f3b59;
    background: #fff;
    transition: 1s;
}
.loadbtn-layout{
    text-align: center;
    margin-bottom: 10px;
}
.brands {
    background: #fff;
    margin-top: -2px;
}
.card-img-brand{
    width: 160px;
    height: 160px;
    box-shadow: 0px 0px 0px 5px #2F3B5947;
    padding: 7px;
    object-fit: contain;
}
.breadcrumb{
    background: transparent;
    margin-bottom: -8px;
}
.breadcrumb-item:hover{
    color: #cf0000;
}
.active{
    font-size: 14px;
}
.image-single {
    width: 100%;
    height: 100%;
}
h2{
    color: #2f3b59;
}
.color-red{
    color: #cf0000;
}
.text-description {
    text-align: justify;
    color: #606060;
}
.table-title {
     font-size: 14px;
     color: #2f3b59;
 }
.table-details {
    color: #666;
    font-size: 14px;
}
td{
    border-top: 0 !important;
}